.obfuscator-widget {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    transition-property: opacity;
    visibility: hidden;
}

.obfuscator-widget--visible {
    visibility: visible;
}