.gallery-lightbox-widget{
    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 250px;
            cursor:pointer;
            height: 300px;
            -webkit-transition: .5s opacity;
            transition: .5s opacity;

            &:hover {
                opacity: 0.3;
            }
        }
    }
}