// Variables
$navbar-height:              36px;
$navbar-background:          #fff;
$navbar-border:              #ddd;

$navbar-collapse-breakpoint: 768px;

$navbar-item-font-size:      14px; // размер текста меню
$navbar-item-border-width:   4px;
$navbar-item-color:          #555; // цвет текста меню
$navbar-item-active-color:   #333;
$navbar-item-border:         transparent;
$navbar-item-active-border: #3a3434;
$navbar-item-active: #ffffff;