@import 'variables';

/* General Menu Styles */

.flex-menu {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    
    .flexMenu__sub-item-li{
        i{
            padding-left: 5px;
        }
    
        .flexMenu__sub-item-container{
            display: none;
            list-style-type: none;
            padding: 0;
            background-color: #cbccbe;
            margin: 0;
            z-index: 99;
        }
        
        .flexMenu__sub-item-container--visible{
            display: block;
            position: relative;
        }
    }
}

.js .flex-menu {
    /* If we have JavaScript enabled and we're just waiting for flexMenu to load and run, hide list items that don't fit on one line. If JavaScript is not enabled, just show 'em all. */
    height: 1.5em;
    overflow: hidden;
}

.flex-menu > li {
    float: left;
}

.flex-menu > li:first-child {
    margin-left: 0;
}

.flex-menu a {
    display: block;
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: $navbar-height + $navbar-item-border-width;
    color: $navbar-item-color;
    border-bottom: $navbar-item-border-width solid $navbar-item-border;
    text-decoration: none;
    transition: all 0.3s linear 0s;
}

.flex-menu a:hover {
    color: $navbar-item-active-color;
    border-bottom-color: $navbar-item-active-border;
    background-color: $navbar-item-active;
}

.flex-multi {
    float: left;
    width: 45%;
    margin-bottom: 100px;
}

.flex-multi + .flex-multi {
    float: right;
}

.clear {
    clear: both;
}

/* flexMenu styles */

.flexMenu-viewMore > a {
    background-color: rgba(100, 255, 255, 0.29);
}

.flexMenu-viewMore.active > a, .flexMenu-viewMore > a:hover {
    background-color: rgba(100, 255, 255, 0.29);
}

.flexMenu-popup {
    list-style-type: none;
    padding: 0;
    background-color: #5CCCCC;
    margin: 0;
    z-index: 99;
    right: 5px;
}

.lt-ie8 .flexMenu-popup {}

.flexMenu-popup a {
    display: block;
    line-height: $navbar-height + $navbar-item-border-width;
    color: $navbar-item-color;
    border-bottom: $navbar-item-border-width solid $navbar-item-border;
}

.flexMenu-popup a:hover {
    display: block;

    color: $navbar-item-active-color;
    border-bottom-color: $navbar-item-active-border;
}