
.dialog__button{
    font-size: 10pt;
}
.mdl-dialog {
    .dialog__button-close{
        cursor:pointer;
        margin-left:90%;
    }
    .mdl-dialog__title {
        padding: 0 24px 0;
        margin: 0;
        font-size: 2rem;
    }
    .widget-button-loading {
        flex-direction: column;
        padding: 15px 0;
        .widget-button-loading__state-container{
            padding:10px 0 0 10px;
        }
    }
    .dialog__message-success{
        text-align: center;
        color: #000000;
        font-size: 1.8em;
        line-height: 1.5em;
    }
}