@import '../../../../css/mixins';

.drawer-menu {

    .drawer-menu__ul{
        padding: 0;

        .drawer-menu__icon {
            margin-right: 15px;
        }

        .drawer-menu__sub-item-container{
            display: none;
            padding: 0 0 0 10px;
            list-style-type: none;
        }

        .drawer-menu__sub-item-container--visible{
            display: block;
        }

        .drawer-menu__li{
            list-style-type: none;

            .drawer-menu__nav-link {
                text-decoration: none;
                line-height: 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: rgba(255, 255, 255, 0.56);
                font-size: 16px;
                font-weight: 500;
                padding: 15px 20px;
                color: #ffffff;
                opacity: 0.87;

                &:hover {
                    background-color: #00BCD4;
                    color: #FFFFFF;
                }

                .fa-caret-down, .fa-caret-up{
                    padding-left: 10px;
                }
            }

            .drawer-menu__nav-link:hover .material-icons {
                color: #FFFFFF !important;
            }

            .drawer-menu__nav-link {
                cursor: pointer;

                .material-icons {
                    font-size: 24px;
                    color: rgba(255, 255, 255, 0.56);
                    margin-right: 10px;
                }
            }
        }
    }

}

