@import '../../../../css/mixins';
.list-items {
    .list-items-container{
        .mdl-grid{
            .mdl-cell{
                .list-items__text-block{
                    word-wrap: break-word;
                    .list-items__text-block-title{
                        @include flex(row);
                        justify-content: space-between;
                        padding-bottom: 10px;
                    }
                }
                .list-items__actions-block{
                    @include flex(row);
                    justify-content: flex-end;
                }
            }
        }
    }
}