@import 'mixins';

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

main.mdl-layout__content {
    z-index: initial;
    @include display(flex);
    flex-direction: column;
    padding: 25px;
    height: 100%;
}

.wrapper-page-content{
    padding: 0 0 25px 0;
}

main.mdl-layout__content > div {
    @include flex(1);
    max-width: 100%;
}

.wide{
    width: 100%!important;
}

.mdl-card {
    z-index: inherit;
    //overflow: visible!important;
    padding: 15px;
    min-height: 0;
}

.mdl-textfield {
    width: 100% !important;
}

.mdl-layout__container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mdl-card {
    z-index: inherit !important;
    overflow: visible !important;
    min-height: 0 !important;
}

/* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
.mdl-layout__content {
    display: flex !important;
    flex-direction: column !important;
}

.mdl-tooltip {
    will-change: initial;
}
