@import '../../../../css/mixins';
/*.list-items {
    .list-items-container{
        .mdl-grid{
            .mdl-cell{
                .list-items__text-block{
                    word-wrap: break-word;
                    .list-items__text-block-title{
                        @include flex(row);
                        justify-content: space-between;
                        padding-bottom: 10px;
                    }
                }
                .list-items__actions-block{
                    @include flex(row);
                    justify-content: flex-end;
                }
            }
        }
    }
}*/

.best-deals {
    .mdl-grid{
        .mdl-card {
            width: 220px;
            height: 320px;
            transition: 0.5s;
            &:hover{
                background-color: rgba(61, 247, 61, 0.31);
            }
        }
        .mdl-card__title {
            color: #fff;
            height: 176px;
        }
        .mdl-card__menu {
            color: #fff;
        }
        .mdl-card__footer{
            @include flex(row);
            justify-content: space-between;
        }
    }
}

