.slider {
	max-width: 970px;
	margin: 0 auto;
	
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	ul li > img {
		display: block;
		max-width: 100%;
		object-fit: cover;
		margin: 0 auto;
	}

	ol {
		position: absolute;
		margin: 0;
		padding: 0;
		list-style-type: none;
		bottom: .5em;
		text-align: center;
		width: 100%;
	}

	ol li {
		display: inline-block;
		min-width: 10px;
		min-height: 10px;
		width: .6em;
		height: .6em;
		background-color: #BEC0BC;
		margin: 0 .5em;
		border-radius: 50%;
		overflow: hidden;
	}

	ol button {
		opacity: 0;
		padding: 0;
		cursor: pointer;
	}

	ol .active {
		pointer-events: none;
		background-color: black;
	}

	menu {
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -1em;
		padding: 0;
	}

	menu button {
		position: absolute;
		font-size: inherit;
		width: 50px;
		height: 50px;
		opacity: .5;
		padding: 0;
		border: 0;
		outline: none;
		cursor: pointer;
	}

	.prev {
		left: 0;
		background-image: url(/images/flex-carusel-prev.png);
	}

	.next {
		right: 0;

		background-image: url(/images/flex-carusel-next.png);
	}
}
