@import '../../../../css/variables';
@import '../../../../css/mixins';

footer {
    .footer__content{
        max-width: $content-grid-width;
        margin: 0 auto 0 auto;

        .mdl-mega-footer__middle-section {

            .mdl-mega-footer__drop-down-section {
                &:nth-child(1) {
                    width: 50%;
                }
                .mdl-mega-footer__link-list{
                    li {
                        line-height: 25px;
                    }
                    li:hover{
                        color: #f3f3f3;
                    }
                }
            }
            .footer__contacts{
                border-left: 1px solid #515151;
                padding-left: 15px;
            }

            .mdl-mega-footer__heading {
                font-size: 16px;
            }
            .fa {
                color: #ffffff;
                padding-right: 15px;
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .mdl-mega-footer--drop-down-section,
    .mdl-mega-footer--drop-down-section:nth-child(3),
    .mdl-mega-footer--drop-down-section:nth-child(4),
    .mdl-mega-footer__drop-down-section,
    .mdl-mega-footer__drop-down-section:nth-child(3),
    .mdl-mega-footer__drop-down-section:nth-child(4) {
        width: 33%;
        float: left;
    }
}