@import 'variables';

.draft-wysiwyg-widget{
    .draft-wysiwyg-widget__label{
        color: rgb(63,81,181);
        font-size: 12px;
    }
    .draft-wysiwyg-widget__error-field{
        color:#aa0000;
    }
}