@import '../../../../../css/mixins';

.new-apartment-advertisement-view-page{
    .new-apartment-advertisement-view-page__container{

        .new-apartment-advertisement-view-page__text-block-title{
            padding: 8px;
            h5{
                text-transform: uppercase;
            }
        }
        .new-apartment-advertisement-view-page__address{
            padding:8px;
            i {
                color:#FF0000;
                padding-right: 10px;
                font-size: 18px;
            }
        }
        .mdl-grid{

            .new-apartment-advertisement-view-page__carousel-container{
                @include flex(row);
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;

                .slider ul li > img{
                    height: 400px;
                    width:100%;
                }
            }


            .new-apartment-advertisement-view-page__prices{
                padding: 10px 0;
                p{
                    margin: 0;
                }
            }
    
    
    
            .new-apartment-advertisement-view-page__object-params{
                border-collapse: collapse;
                border-spacing: 0;
                background-color: transparent;
                width: 100%;
                margin-top: 20px;

                .new-apartment-advertisement-view-page__object-param-item{
                    border-bottom: 1px solid #c2c2c2;
                    td {
                        padding: .7rem 0 .7rem 0;
                    }
                    .new-apartment-advertisement-view-page__object-param-value{
                        text-align: right;
                        font-weight: bold;
                        width: 50%;
                    }
                }
            }
        }
    }
}
