@import '../../../../css/variables';
.frontend-layout-main {
    height: 100vh;
    .progress-bar {
        position: fixed;
    }

    main {
        padding: 0;
    
        .breadcrumbs {
            width: $content-grid-width;
            margin: 0 auto;
            list-style: none;
            padding: 10px 0;
        
            > li {
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    .content-grid{
        max-width: $content-grid-width;
        margin: 0 auto;
    }
}