@import '../../../../css/mixins';

.filter-container{
    .custom-toggle-field{
        @include flex(row);
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .custom-toggle-field__container-item{
        display: inline-block;
        padding: 0 5px;
    }
    
    .custom-toggle-field__label-common{
        padding: 0 10px;
    }
}
