// Variables
$navbar-height:              34px;
$navbar-background:          #cbccbe;
$navbar-border:              #ddd;

$navbar-collapse-breakpoint: 768px;

$navbar-item-font-size:      14px; // размер текста меню
$navbar-item-border-width:   4px;
$navbar-item-color:          #555; // цвет текста меню
$navbar-item-active-color:   #333;
$navbar-item-border:         transparent;
$navbar-item-active-border:  #673ab7;