@import 'variables';

// Component skeleton
.main-menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 0;
    height: 44px;

    a {
        text-decoration: none;
        transition: all 0.3s linear 0s;
    }
}