.header-top{
	border-bottom: 1px solid #e9e9e9;
	.header-top__container{
		padding: 0;
		.mdl-cell{
			.header-top__contacts{
				font-size: 12px;
				.header-top__icon-phone{
					font-size: 12px;
					padding-right: 10px;
				}
			}
			.header-top__button-dialog{
				line-height: 10px;
				height: 20px;
			}
		}
		.mdl-dialog {
			.dialog__button-close{
				cursor:pointer;
				margin-left:90%;
			}
			.mdl-dialog__title {
				padding: 0 24px 0;
				margin: 0;
				font-size: 2rem;
			}
			.widget-button-loading {
				flex-direction: column;
			}
		}
	}
}

.header__menu {
    background-color: #cbccbe;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}