.contacts-frontend-page{
    .contacts-frontend-page__address-text{
        padding: 10px 0;
        i {
            color: #FF0000;
            padding-right: 10px;
        }
    }
    .contacts-frontend-page__map {
        width: 100%;
        height: 400px;
    }
}
