@import "css/mixins.scss";

.dashboard-page {

  .mdl-card__supporting-text {
    height: 90px;
  }

  .dashboard-page__card {
    min-height: 100px;
    line-height: normal;
    color: #FFFFFF;
    width: auto;
  }

  .dashboard-page__card--narrow .dashboard-page__card-content {
    @include flex(row);
    justify-content: space-between;
  }

  .dashboard-page__card--narrow .dashboard-page__card-content {
    text-align: right;
  }

  .dashboard-page__card-number {
    font-size: 54px;
  }

  .dashboard-page__card-content {
    padding: 15px;
  }

  .dashboard-page__card-icon {
    padding: 7px 0 0 0;
  }

  .dashboard-page__card-icon i {
    font-size: 70px;
  }

  .mdl-card {
    padding: 0;
  }

  .mdl-card__title {
    padding-bottom: 0;
  }
}
