@import '../../../../css/mixins';
.advertisement-list-items {
    .advertisement-list-items-container{
        .advertisement-list-item{
            margin: 20px auto;
            min-height: 250px;
            transition: 0.5s;
            .mdl-cell{
                .advertisement-list-item__first-block{
                    img{
                        object-fit: cover; // resize image
                        width: 100%;
                        height: 250px;
                    }
                }
                .advertisement-list-item__two-block{
                    word-wrap: break-word;
                    padding:10px 15px 0 15px;
                    .advertisement-list-item__text-block-title{
                        @include flex(row);
                        justify-content: space-around;
                        padding-bottom: 10px;
                        h6{
                            text-transform: uppercase;
                        }
                    }
                    .fa-map-marker{
                        color:#FF0000;
                        padding-right: 10px;
                        font-size: 18px;
                    }

                    .advertisement-list-item__description{
                        height: 80px;
                        overflow: hidden;
                    }
                }
                .advertisement-list-item__free-block{
                    position: relative;
                    height: 100%;

                    .advertisement-list-item__free-block-price{
                        font-size: 16px;
                        padding: 10px 0 10px 40px;
                    }
                    button {
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }
                }
            }
            &:hover{
                background-color: rgba(61, 247, 61, 0.31);
            }
        }
    }
}