.category-to-content-widget {
	justify-content: center;
	
	h4 {
		text-align: center;
		text-decoration: underline;
	}
	
	.category-to-content-widget__category{
		.category-to-content-widget__category-container{
			padding: 0;
			.category-to-content-widget__category-item {
				cursor: pointer;
				list-style-type: none;
				text-align: center;
				font-size: 22px;
				padding: 15px 0 15px 0;
				
				&:hover {
					text-decoration: underline;
				}
			}
			.category-to-content-widget__category-item--active {
				text-decoration: underline;
			}
		}
	}
	
	.category-to-content-widget__content {
		.category-to-content-widget__content-container {
			.mdl-grid{
				
				justify-content: center;
				.category-to-content-widget__content-item {
					text-align: center;
					width: 200px;
					padding: 5px 5px 5px 5px;
					cursor: pointer;
					h3 {
						text-align: center;
					}
					img {
						object-fit: cover; // resize image
						width: 100%;
						height: 150px;
						border-radius: 5px;
						cursor: pointer;
						&:hover {
							background-color: aquamarine;
						}
					}
					i {
						font-size: 160px;
						height: 150px;
						display: block;
						
						
					}
					.category-to-content-widget__content-container-title{
						font-size: 18px;
						padding-top: 10px;
						display: block;
					}
					
					&:hover {
						border: 2px solid black;
					}
				}
			}
		}
	}
	.category-to-content-widget__pagination{}
}