.custom-toggle-field{
	
	.custom-toggle-field__input{
		display: none;
	}
	
	.custom-toggle-field__label{
		display: block;
		width: 2.4rem;
		height: 2.4rem;
		font-size: 1.2rem;
		line-height: 2.4rem;
		color: #000;
		text-align: center;
		cursor: pointer;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: .2rem;
		transition: all .1s ease-in-out;
		padding: 0 .4rem;
		
		&:hover {
			border: 1px solid #e31f30;
		}
	}
	
	.custom-toggle-field__label--checked{
		color: #fff;
		background: #e31f30;
		border: 1px solid #e31f30;
	}
}